.calendar-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
    padding: 10px;
    padding-bottom: 40px;
    background-color: gray;
}

.select_date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}